<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Appel à projets WEAMEC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Statut</th>
                    <th>Nom du projet</th>
                    <th>Etablissement</th>
                    <th>Coordinateur Scientifique</th>
                    <th>Site Web</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${projets.empty}">
                    <td colspan="3">Aucun projet déclaré</td>
                </tr>
                <tr th:each="projet: ${projets}">
                    <td><span th:text="${projet.statut}"> Statut </span></td>
                    <td><span th:text="${projet.nomAcro}"> Nom du projet </span></td>
                    <td><span th:text="${projet.coordinateurScientifique.structureRattachement.etablissement}"> Etablissement </span></td>
                    <td>
                        <span th:text="${projet.coordinateurScientifique.nom} + ' ' + ${projet.coordinateurScientifique.prenom}"> Nom Prénom </span>
                        <ul>
                            <li>Mail : <a th:href="'mailto:' + ${projet.coordinateurScientifique.mail}" th:text="${projet.coordinateurScientifique.mail}"></a></li>
                            <li>Tel. : <span th:text="${projet.coordinateurScientifique.telephone}">N° de Téléphone</span></li>
                        </ul>
                    </td>
                    <td><a th:href="'https://' + ${projet.siteWeb}" th:text="${projet.siteWeb}"> URL </a></td>
                    <td><a th:href="@{/viewProject/idProjet={id}(id=${projet.id})}"><button>Consulter</button></a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
