<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Appel à projets WEAMEC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Nouveau Cordinateur Scientifique</h1>
        
        <h2>Ma Structure de Rattachement</h2>
        
        <form method="POST" th:action="@{/saveStructureRattachement}" th:object="${structureRattachement}">   
            
            <div>
                <label for="etablissement">Nom de l'établissement</label>
                <input type="text" name="etablissement" id="etablissement" required />
            </div>
            
            <div>
                <label for="laboratoire">Nom du laboratoire</label>
                <input type="text" name="laboratoire" id="laboratoire" required />
            </div>
            
            <div>
                <label for="equipe">Nom de l'équipe</label>
                <input type="text" name="equipe" id="equipe" required />
            </div>
            
            <div>
                <label for="adresse">Adresse</label>
                <input type="text" name="adresse" id="adresse" required />
            </div>
            
            <div>
                <label for="mailRef">Mail du référent</label>
                <input type="email" name="mailRef" id="mailRef" required />
            </div>
            
            <div>
                <label for="telephoneRef">Numéro de téléphone du référent</label>
                <input type="tel" name="telephoneRef" id="telephoneRef" required />
            </div>
            
            <input name="test" type="hidden" value="10" />
            
            <button type="submit" value="Valider">Valider</button>
        </form>
    </body>
</html>
