<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>WEAMEC Appel à projet</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Projet Inconnu</div>
        
        
        <div>
                <h3>XYZs</h3>
                
                <div th:each="xyz : ${allXYZs}">
                    <input type="checkbox" th:value="${xyz.id}" th:field="*{xyzs}" th:id="'xyz' + ${xyz.id}"/>
                    <label th:for="'xyz' + ${xyz.id}" th:text="${xyz.nom}"> XYZ </label>
                </div>
            </div>
    </body>
</html>
