<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Appel à  WEAMEC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container">                
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link text-white" th:href="@{/projects}">Tous les projets</a></li>
                        <li class="nav-item"><a class="nav-link text-white" th:href="@{/projects/import}">Importer un projet</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="pb-10">
            <div class="container">
                <div class="col-sm-12 my-5">
                    <h1 th:text="${projet.nomAcro}">Projet</h1>
                    <p class="fw-light" th:text="${projet.statut}"></p>
            
                    <a th:href="@{/projects/{id}/edit(id=${projet.id})}"><button class="btn btn-primary mt-3">Modifier le projet</button></a>
                    <a th:href="@{/projects/{id}/drop(id=${projet.id})}"><button class="btn btn-danger mt-3">Supprimer le projet</button></a>
                </div>

                <div class="col-sm-12 my-5" id="general">
                    <h2>Elements Clefs du Projet</h2>
        
                    <table class="table">
                        <tr>
                            <th scope="col">Nom du projet</th>
                            <td th:text="${projet.nomComplet}"></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Catégorie</th>
                            <td th:text="${projet.categorie}"></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Type</th>
                            <td th:text="${projet.type}"></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Objectif du projet</th>
                            <td><p th:text="${projet.objectifSynth}"></p></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Site web du projet</th>
                            <td><a th:href="'https://' + ${projet.siteWeb}" th:text="${projet.siteWeb}"></a></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Durée du projet</th>
                            <td th:text="${projet.duree} + ' mois'"></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Date de début</th>
                            <td th:text="${projet.dateDebut}"></th>
                        </th>
        
                        <tr>
                            <th scope="col">Date de fin</th>
                            <td th:text="${projet.dateFin}"></th>
                        </th>
        
                        <tr>
                            <th scope="col">Description synthétique du projet</th>
                            <td><p th:text="${projet.description}"></p></td>
                        </tr>
                    </table>
                </div>
        
                <div class="col-sm-12 my-5" id="coordinateurScientifique">
                    <h2>Coordinateur Scientifique</h2>

                    <table class="table">
                        <tr>
                            <th scope="col">Nom</th>
                            <td th:text="${projet.coordinateurScientifique.nom}"></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Prénom</th>
                            <td th:text="${projet.coordinateurScientifique.prenom}"></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Email</th>
                            <td><a th:href="'mailto' + ${projet.coordinateurScientifique.mail}" th:text="${projet.coordinateurScientifique.mail}"></a></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Telephone</th>
                            <td th:text="${projet.coordinateurScientifique.telephone}"></td>
                        </tr>
                        
                        <tr>
                            <th scope="col">Nom de l'établissement</th>
                            <td th:text="${projet.coordinateurScientifique.structureRattachement.etablissement}"></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Nom du laboratoire</th>
                            <td th:text="${projet.coordinateurScientifique.structureRattachement.laboratoire}"></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Nom de l'équipe</th>
                            <td th:text="${projet.coordinateurScientifique.structureRattachement.equipe}"></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Adresse postale</th>
                            <td><p th:text="${projet.coordinateurScientifique.structureRattachement.adresse}"></p></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Nom du référent administratif et budgétaire</th>
                            <td th:text="${projet.coordinateurScientifique.structureRattachement.nomRef}"></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Téléphone du référent</th>
                            <td th:text="${projet.coordinateurScientifique.structureRattachement.telephoneRef}"></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Mail du référent</th>
                            <td><a th:href="'mailto:' + ${projet.coordinateurScientifique.structureRattachement.mailRef}" th:text="${projet.coordinateurScientifique.structureRattachement.mailRef}"></a></td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-12 my-5" id="partenaires">
                    <h2>Partenaires</h2>

                    <div class="my-5" th:each="partenaire: ${projet.listePartenaires}">
                        <h4 th:text="*{partenaire.nom} + ' ' + *{partenaire.prenom}"></h4>

                        <table class="table">                        
                            <tr>
                                <th scope="col">Mail</th>
                                <td><a th:href="'mailto:' + *{partenaire.mail}" th:text="*{partenaire.mail}"></a></td>
                            </tr>
                    
                            <tr>
                                <th scope="col">Telephone</th>
                                <td th:text="*{partenaire.telephone}"></td>
                            </tr>
                    
                            <tr>
                                <th scope="col">Nom de l'établissement</th>
                                <td th:text="*{partenaire.structureRattachement.etablissement}"></td>
                            </tr>
                    
                            <tr>
                                <th scope="col">Nom du laboratoire</th>
                                <td th:text="*{partenaire.structureRattachement.laboratoire}"></td>
                            </tr>
                    
                            <tr>
                                <th scope="col">Nom de l'équipe</th>
                                <td th:text="*{partenaire.structureRattachement.equipe}"></td>
                            </tr>
                    
                            <tr>
                                <th scope="col">Adresse postale</th>
                                <td th:text="*{partenaire.structureRattachement.adresse}"></td>
                            </tr>
                    
                            <tr>
                                <th scope="col">Nom du référent administratif et budgétaire</th>
                                <td th:text="*{partenaire.structureRattachement.nomRef}"></td>
                            </tr>
                    
                            <tr>
                                <th scope="col">Téléphone du référent</th>
                                <td th:text="*{partenaire.structureRattachement.telephoneRef}"></td>
                            </tr>
                    
                            <tr>
                                <th scope="col">Mail du référent</th>
                                <td><a th:href="'mailto:' + *{partenaire.structureRattachement.mailRef}" th:text="*{partenaire.structureRattachement.mailRef}"></a></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-sm-12 my-5" id="describTech">    
                    <h2>Description technique du Projet</h2>
        
                    <table class="table">
                        <tr>
                            <th scope="col">Objectifs</th>
                            <td><p th:text="${projet.objectif}"></p></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Verrous scientifiques et techniques adressées</th>
                            <td><p th:text="${projet.verrousScientif}"></p></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Programme expérimental</th>
                            <td><p th:text="${projet.programmeExp}"></p></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Moyens d'essais utilisés</th>
                            <td><p th:text="${projet.moyensEssai}"></p></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Démonstrateur éventuellement créé</th>
                            <td><p th:text="${projet.demonstrateur}"></p></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Ruptures scientifiques et innovation</th>
                            <td><p th:text="${projet.ruptureScient}"></p></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Impact Technique attendu</th>
                            <td><p th:text="${projet.impactTech}"></p></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Impact Économique attendu</th>
                            <td><p th:text="${projet.impactEco}"></p></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Impact Environnemental attendu</th>
                            <td><p th:text="${projet.impactEnv}"></p></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Impact sociétal attendu</th>
                            <td><p th:text="${projet.impactSoc}"></p></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Niveau TRL de début</th>
                            <td th:text="${projet.trlDebut}"></th>
                        </th>
        
                        <tr>
                            <th scope="col">Niveau TRL de fin visé</th>
                            <td th:text="${projet.trlFin}"></th>
                        </th>
        
                        <tr>
                            <th scope="col">Brevet visé ?</th>
                            <td th:text="${projet.brevet}"/></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Technologies</th>
                            <td>
                                <ul class="list-inline" th:each="technologie : ${projet.technologies}">
                                    <li class="list-inline-item" th:text="${technologie.nom}"> Technologie </li>
                                </ul>
                            </td>
                        </tr>
        
                        <tr>
                            <th scope="col">Valeurs</th>
                            <td>
                                <ul class="list-inline" th:each="valeur : ${projet.valeurs}">
                                    <li class="list-inline-item" th:text="${valeur.nom}"> Valeur </li>
                                </ul>
                            </td>
                        </tr>
        
                        <tr>
                            <th scope="col">Themes</th>
                            <td>
                                <ul class="list-inline" th:each="theme : ${projet.themes}">
                                    <li class="list-inline-item" th:text="${theme.nom}"> Theme </li>
                                </ul>
                            </td>
                        </tr>  
                    </table>
                </div>
        
                <div class="col-sm-12 my-5" id="adequations">
                    <h2>Adequation avec la feuille de route WEAMEC</h2>
        
                    <table class="table">
                        <tr>
                            <th scope="col">Priorite</th>
                            <td th:text="${projet.prioriteWeamec[0].nom}"></td>
                        </tr>
        
                        <tr>
                            <th scope="col">Objectifs</th>
                            <td>
                                <ul class="list-inline" th:each="objectif : ${projet.objectifsWeamec}">
                                    <li class="list-inline-item" th:text="${objectif.nom}"> Objectif </li>
                                </ul>
                            </td>
                        </tr>
        
                        <tr>
                            <th scope="col">Défis</th>
                            <td>
                                <ul class="list-inline" th:each="defi : ${projet.defisWeamec}">
                                    <li class="list-inline-item" th:text="${defi.nom}"> Defi </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-12 my-5" id="experts">
                    <h2>Experts suceptibles de réaliser l'évaluation du projet</h2>

                    <div  class="my-5" th:each="expert: ${projet.listeExperts}">
                        <h4 th:text="${expert.nom} + ' ' + ${expert.prenom}"></h4>

                        <table class="table">
                            <tr>
                                <th scope="col">Mail</th>
                                <td><a th:href="'mailto:' + ${expert.mail}" th:text="${expert.mail}"></a></td>
                            </tr>

                            <tr>
                                <th scope="col">Numéro de Téléphone</th>
                                <td th:text="${expert.telephone}"></td>
                            </tr>

                            <tr>
                                <th scope="col">Entité de Rattachement</th>
                                <td th:text="${expert.entiteRattachement}"></td>
                            </tr>

                            <tr>
                                <th scope="col">Laboratoire de rattachement</th>
                                <td th:text="${expert.laboratoireRattachement}"></td>
                            </tr>

                            <tr>
                                <th scope="col">Specialité</th>
                                <td th:text="${expert.specialite}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
