<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="'Dossier ' + ${projet.nomAcro}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.cdnfonts.com/css/neo-sans-pro" rel="stylesheet">
        <link href="src/main/resources/weamec/resources/caseFile.css" rel="stylesheet">
    </head>
    <body>        
        <section id="couverture">
            <img src="src/main/resources/weamec/resources/LOGO-WEAMEC.png" alt="Logo WEAMEC" height="100px" id="logo">

            <h1>DOSSIER DE CANDIDATURE</h1>
            <h2>APPELS À PROJETS &laquo;RECHERCHE&raquo; ET &laquo;MATÉRIEL&raquo; WEAMEC</h2>

            <div id="separator"></div>
            
            <h3>EDITION 2025</h3>

            <img src="src/main/resources/weamec/resources/CREATIF-38.jpg" alt="Structure dans un bassin d'essai" id="cover-image" class="full-width">

            <h2 th:text="${projet.nomAcro}">NOM DU PROJET</h2>

            <div id="partenaires">
                <img src="src/main/resources/weamec/resources/LOGO-Ecole Centrale de Nantes.png" alt="Logo Ecole Centrale de Nantes" class="logo-partenaire">
                <img src="src/main/resources/weamec/resources/LOGO-Nantes Université.png" alt="Logo Nantes Université" class="logo-partenaire">
                <img src="src/main/resources/weamec/resources/LOGO-IRT Jules Verne.jpg" alt="Logo IRT Jules Verne" class="logo-partenaire">
                <img src="src/main/resources/weamec/resources/LOGO-Pole Mer Bretagne Atlantique.png" alt="Logo Pole Mer Bretagne Atlantique" class="logo-partenaire">
                <img src="src/main/resources/weamec/resources/LOGO-Pays de la Loire Europe.png" alt="Logo Pays de la Loire" class="logo-partenaire">
                <img src="src/main/resources/weamec/resources/LOGO-Nantes metropole.png" alt="Logo Nantes Métropole" class="logo-partenaire">
                <img src="src/main/resources/weamec/resources/LOGO-Saint Nazaire Agglo.png" alt="Logo Saint Nazaire Métropole" class="logo-partenaire">
            </div>
        </section>

        <section>
            <h2><span>ÉLÉMENTS CLÉS DU PROJET</span></h2>

            <p>Nom du projet : <span th:text="${projet.nomAcro}">nomAcro</span></p>

            <p>Explicitation de l'acronyme : <span th:text="${projet.nomComplet}"></span></p>

            <h4>Catégorie :</h4>
            <div th:each="categorie: ${listeCategories}">
                <span th:class="'checkbox' + (${categorie.id == projet.categorie.id} ? ' checked' : '')"></span><span class="checkbox-label" th:text="${categorie.nom}"></span>
            </div>

            <h4>Type :</h4>
            <div th:each="type: ${listeTypes}">
                <span th:class="'checkbox' + (${type.id == projet.type.id} ? ' checked' : '')"></span><span class="checkbox-label" th:text="${type.nom}"></span>
            </div>

            <h4>Objectif du projet</h4>
            <p><span th:text="${projet.objectifSynth}"></span></p>

            <h4>Visuel du projet</h4>

            <p>Durée : <span th:text="${projet.duree} + ' mois'"></span></p>

            <p>Date de début : <span th:text="${#dates.format(projet.dateDebut, 'dd/MM/yyyy')}"></span></p>

            <p>Date de fin : <span th:text="${#dates.format(projet.dateFin, 'dd/MM/yyyy')}"></span></p>

            <h4>Coordinateur Scientifique</h4>

            <ul>
                <li>Nom : <span th:text="${projet.coordinateurScientifique.nom}"></span></li>
                <li>Prénom : <span th:text="${projet.coordinateurScientifique.prenom}"></span></li>
                <li>Coordonnées :
                    <ul>
                        <li>Email : <span th:text="${projet.coordinateurScientifique.mail}"></span></li>
                        <li>Téléphone Fixe : <span th:text="${projet.coordinateurScientifique.telephoneFixe}"></span></li>
                        <li>Téléphone Portable : <span th:text="${projet.coordinateurScientifique.telephonePort}"></span></li>
                    </ul>
                </li>
                <li>Structure de rattachement :
                    <ul>
                        <li>Etablissement : <span th:text="${projet.coordinateurScientifique.structureRattachement.etablissement}"></span></li>
                        <li>Laboratoire : <span th:text="${projet.coordinateurScientifique.structureRattachement.laboratoire}"></span></li>
                        <li>Equipe : <span th:text="${projet.coordinateurScientifique.structureRattachement.equipe}"></span></li>
                        <li>Logo du laboratoire et/ou de l'établissement :</li>
                        <li>Adresse postale : <span th:text="${projet.coordinateurScientifique.structureRattachement.adresse}+', '+${projet.coordinateurScientifique.structureRattachement.ville}+' ('+${projet.coordinateurScientifique.structureRattachement.codePostal}+')'"></span></li>
                        <li>Nom du référent administratif et budgétaire : <span th:text="${projet.coordinateurScientifique.structureRattachement.nomRef}"></span>
                            <ul>
                                <li>email : <span th:text="${projet.coordinateurScientifique.structureRattachement.mailRef}"></span></li>
                                <li>téléphone : <span th:text="${projet.coordinateurScientifique.structureRattachement.telephoneRef}"></span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h4>Partenaires académiques et industriels</h4>

            <ul th:each="partenaire: ${projet.listePartenaires}">
                <li>Nom : <span th:text="${partenaire.nom}"></span></li>
                <li>Prénom : <span th:text="${partenaire.prenom}"></span></li>
                <li>Coordonnées :
                    <ul>
                        <li>Email : <span th:text="${partenaire.mail}"></span></li>
                        <li>Téléphone : <span th:text="${partenaire.telephone}"></span></li>
                    </ul>
                </li>
                <li>Structure de rattachement :
                    <ul>
                        <li>Etablissement : <span th:text="${partenaire.structureRattachement.etablissement}"></span></li>
                        <li>Laboratoire : <span th:text="${partenaire.structureRattachement.laboratoire}"></span></li>
                        <li>Equipe : <span th:text="${partenaire.structureRattachement.equipe}"></span></li>
                        <li>Logo du laboratoire et/ou de l'établissement :</li>
                        <li>Adresse postale : <span></span></li>
                        <li>Nom du référent administratif et budgétaire : <span th:text="${partenaire.structureRattachement.adresse}+', '+${partenaire.structureRattachement.ville}+' ('+${partenaire.structureRattachement.codePostal}+')'"></span>
                            <ul>
                                <li>email : <span th:text="${partenaire.structureRattachement.mailRef}"></span></li>
                                <li>téléphone : <span th:text="${partenaire.structureRattachement.telephoneRef}"></span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h4>Description synthétique du projet | <b>NON CONFIDENTIEL</b></h4>

            <p><span th:text="${projet.description}"></span></p>
        </section>

        <section>
            <h2><span>DESCRIPTION TECHNIQUE DU PROJET</span></h2>

            <p>Présentation des principaux enjeux traités dans le projet, description de l'état de l'art et des verrous scientifiques et techniques adressés dans le projet. Présentation des choix scientifiques et de leurs intérêts dans le projet. Présentation des principales retombées scientifiques, économiques, sociétales et environnementales attendues, en particulier pour le territoire.</p>

            <h4>Objectifs</h4>
            <p><span th:text="${projet.objectif}"></span></p>

            <h4>Verrours scientifiques et techniques adressés</h4>
            <p><span th:text="${projet.verrousScientif}"></span></p>

            <h4>Programme expérimental</h4>
            <p><span th:text="${projet.programmeExp}"></span></p>

            <h4>Moyens d'essais utilisés</h4>
            <p><span th:text="${projet.moyensEssai}"></span></p>

            <h4>Démonstrateur éventuellement créé</h4>
            <p><span th:text="${projet.demonstrateur}"></span></p>

            <h4>Ruptures scientifiques et innovation</h4>
            <p><span th:text="${projet.ruptureScient}"></span></p>

            <h4>Impact technique attentdu</h4>
            <p><span th:text="${projet.impactTech}"></span></p>

            <h4>Impact économique attendu</h4>
            <p><span th:text="${projet.impactEco}"></span></p>

            <h4>Impact environnementale attendu</h4>
            <p><span th:text="${projet.impactEnv}"></span></p>

            <h4>Impact sociétal attendu</h4>
            <p><span th:text="${projet.impactSoc}"></span></p>

            <p>Niveau de TRL de début : <span th:text="${projet.trlDebut}"></span></p>

            <p>Niveau de TRL de fin visé : <span th:text="${projet.trlFin}"></span></p>

            <p>Brevet visé ? <span th:text="${projet.brevet}"></span></p>

            <h3>Catégories du projet</h3>

            <h4>Technologie</h4>
            <div th:each="technologie: ${listeTechnologies}">
                <span th:class="'checkbox' + (${#lists.contains(projet.technologies, technologie)} ? ' checked' : '')"></span><span class="checkbox-label" th:text="${technologie.nom}"></span>
            </div>

            <h4>Thématique</h4>
            <div th:each="theme: ${listeThemes}">
                <span th:class="'checkbox' + (${#lists.contains(projet.themes, theme)} ? ' checked' : '')"></span><span class="checkbox-label" th:text="${theme.nom}"></span>
            </div>

            <h4>Chaîne de la valeur</h4>
            <div th:each="valeur: ${listeValeurs}">
                <span th:class="'checkbox' + (${#lists.contains(projet.valeurs, valeur)} ? ' checked' : '')"></span><span class="checkbox-label" th:text="${valeur.nom}"></span>
            </div>
        </section>

        <section>
            <h2><span>ADÉQUATION AVEC LA FEUILLE DE ROUTE WEAMEC</span></h2>

            <p>Priorités et défis de la feuille de route de WEAMEC dans lesquels s'inscrit le projet</p>

            <h4>Priorités</h4>
            <div th:each="priorite: ${listePriorites}">
                <span th:class="'checkbox' + (${#lists.contains(projet.prioriteWeamec, priorite)} ? ' checked' : '')"></span><span class="checkbox-label" th:text="${priorite.nom}"></span>
            </div>
            
            <h4>Objectifs</h4>
            <div th:each="objectif: ${listeObjectifs}">
                <span th:class="'checkbox' + (${#lists.contains(projet.objectifsWeamec, objectif)} ? ' checked' : '')"></span><span class="checkbox-label" th:text="${objectif.nom}"></span>
            </div>

            <h4>Défis</h4>
            <div th:each="defi: ${listeDefis}">
                <span th:class="'checkbox' + (${#lists.contains(projet.defisWeamec, defi)} ? ' checked' : '')"></span><span class="checkbox-label" th:text="${defi.nom}"></span>
            </div>
        </section>

        <section>
            <h2><span>PARTENARIAT | PROJET DE RECHERCHE UNIQUEMENT</span></h2>

            <p>Présentation des équipes impliquées, des compétences, de la complémentarité, de l’historique des relations et des principales tâches de chacun des partenaires. Description de l’insertion du projet dans la stratégie de recherche et d’innovation des partenaires</p>
            
            <p>
                <span th:text="${projet.descriptionPartenariat}"></span>
            </p>
        </section>

        <section>
            <h2><span>PLAN DE TRAVAIL</span></h2>

            <p>Diagramme de Gant</p>
            
            <img th:each="imagePath: ${listePlanningImagePaths}" th:src="${imagePath}" alt="Diagramme de Gantt" class="full-width"/>
        </section>

        <section>
            <h2><span>BUDGET</span></h2>

            <p>Annexe budgétaire</p>
            
            <img th:each="imagePath: ${listeBudgetImagePaths}" th:src="${imagePath}" alt="Tableur Excel du Budget" class="full-width"/>
        </section>

        <section>
            <h2><span>ANNEXES</span></h2>

            <p></p>

            <h3>ANNEXE 1</h3>

            <p><span>Experts suceptibles de réaliser l'évaluation du projet</span></p>

            <ul th:each="expert: ${projet.listeExperts}">
                <li>Nom : <span th:text="${expert.nom}"></span></li>
                <li>Prénom : <span th:text="${expert.prenom}"></span></li>
                <li>Entité de rattachement : <span th:text="${expert.entiteRattachement}"></span></li>
                <li>Laboratoire de rattachement : <span th:text="${expert.laboratoireRattachement}"></span></li>
                <li>Spécialité : <span th:text="${expert.specialite}"></span></li>
                <li>Email : <span th:text="${expert.mail}"></span></li>
            </ul> 
        </section>
    </body>
</html>
